[submodule "subprojects/base_library"]
	path = subprojects/base_library
	url = https://github.com/RafaGago/base_library.git
[submodule "gitmodules/libcoro"]
	path = gitmodules/libcoro
	url = https://github.com/RafaGago/libcoro.git
